/Debug_Win32/ProyectoFinal.exe
./Debug_Win32/ProyectoFinal.exe
C:\Users\Franc\Desktop\Plataformero-TPF\Debug_Win32\ProyectoFinal.exe
.\Debug_Win32\ProyectoFinal.exe
\Debug_Win32\ProyectoFinal.exe
.\ProyectoFinal.exe
\ProyectoFinal.exe
ProyectoFinal.exe